# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_ERGOKEYS_MCU_NRF52

config BOARD
	default "ergokeys_mcu_nrf52"

if USB_DEVICE_STACK

config USB_NRFX
    default y

endif # USB_DEVICE_STACK

config BT_CTLR
	default BT

config ZMK_BATTERY_VOLTAGE_DIVIDER
	default y

endif # BOARD_ERGOKEYS_MCU_NRF52